<section>
  <%= form_tag('/search') do %>
    <section>
      <%= search_field_tag 'search', nil, placeholder: "Search" %>
    </section>
    <section>
      <section>
        <label>
          <%= radio_button_tag 'media_type', 'movie' %>
          Movie
        </label>
      </section>
      <section>
        <label>
          <%= radio_button_tag 'media_type', 'tv' %>
          TV
        </label>
      </section>
    </section>
    <section>
      <%= submit_tag "Search" %>
    </section>
  <% end %>
</section>
